.methods{
    width:100vw;
   margin: 15% 0;
}

.footer-text{
    width:80%;
    margin:auto;
 
}
.image-div{
    margin-top: 10%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    max-width: 460px;
}
.pay-images{
    width:90px;
    height:90px;
    border:1px grey solid;
}

.bottom-hr{
    margin:15% 0;
}

.foot-text{
    width:85%;
    margin-left:10%;

        h2{
            color:
            #ff764d
        }
    p{
        margin: 5% 0;
    }
    button{
        color: #fff !important;
        background: blue;
        border: 0;
        cursor: pointer;
        padding:.7em 1.2em;
        font-weight: 900;
    }
    input{
        padding:.3em 1.2em;
        margin-bottom: 5%;
        background-color: #e9e9e9;
        font-size: 1em;
    }
}

.socials{
    width:70%;
    margin: 10% auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height:auto;
    max-width: 300px;
  

    img{
        height:50px;
        width:50px;
        cursor: pointer;
    }
}
@media (min-width:500px) {
    .socials{
        display:flex;
        flex-direction:row;
        gap:10%
    }
    .footer h2{
        font-size: 2.3em;
    }
    .footer p {
        font-size: 1.2em;
    }
}


@media (min-width:800px) {
    .methods{
        margin:5% 0;
    }
    .pay-images{
        width:140px;
        height:140px;
    }
    .image-div{
        margin: 10% auto;
    }

    .footer-text{
        max-width: 500px;
        text-align: center;
        p{
            font-size: 1.2em;
        }
    }

    .bottom-hr{
        margin: 5% 0;
    }

    .foot-text {
        max-width: 500px;
        text-align: left;
        margin:auto;

        h2{
            font-size: 3.6em;
        }
    }
}